/*STYLING START*/

.ql-editor {
    background-color: #f8f8f8; /* Vervang dit met de gewenste achtergrondkleur */
    height: 300px;
    resize: both;
    overflow: auto; /* Toon een schuifbalk als de inhoud niet past */
}




/*STYLING END*/



/*LAYOUT START*/




/*LAYOUT END*/