/*Styling start*/



/*Styling end*/



/*Layout start*/



/*Whole login / register box*/
.loginScreen {
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: var(--mainBackgroundColor);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    padding: 16px;
    border: 2px solid black;
    z-index: 3;
}

.loginOuterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px solid green;*/
}

.loginInnerContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
    /*border: 2px solid red;*/
}

/*input field labels*/
.labelTextLeft {
    display: flex;
    flex-direction: row;
    text-align: left;
    /*border: 2px solid #8b4208;*/
}

/*input field labels*/
.loginScreen label, input {
    text-align: center;
    align-content: center;
    display: block;
}

.inputField{
    margin: 10px;
    /*border: 2px solid green;*/
}





/*Layout end*/





/*-------------Register & login button styling-----------------*/
.accountPageButtonBox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px solid darkgoldenrod;*/
    margin-bottom: -5px;
}

.loginButton,
.registerButton {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loginButton {
    color: grey;
    background-color: white;
    border: 2px solid lightgrey;

    padding: 5px 5px 20px 5px;
    border-radius: 10px 10px 0 0;
    width: 180px;
    margin-top: 15px;
    font-family: var(--titleFont);
    margin-bottom: -10px;
}

.registerButton {
    color: grey;
    background-color: white;
    border: 2px solid lightgrey;

    padding: 5px 5px 20px 5px;
    border-radius: 10px 10px 0 0;
    width: 180px;
    margin-top: 15px;
    font-family: var(--titleFont);
    margin-bottom: -10px;
}
.loginButton.active {
    transform: scale(1.1);
    z-index: 1;
    color: black;
    border: 2px solid black;
    margin-bottom: -10px;
}

.registerButton.active {
    transform:  scale(1.1);
    color: black;
    border: 2px solid black;
    margin-bottom: -10px;
}
/*-------------Register & login button styling-----------------*/

