/*STYLING START*/
.registerButton2 {
    color: black;
    background-color: white;
    border: 4px solid black;
    margin-top: 10px;
    border-radius: 10px;

    padding: 5px 5px 5px 5px;
}
/*STYLING END*/



/*LAYOUT START*/

/*LAYOUT END*/


