

.categoryContainer {
    width: 500px;
    margin: 0 0 30px 0;
}

.categoryContainer select {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--mainFontColor);
    height: 2lh;
    color: black;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
}

.categoryContainer p {
    color: black;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {

    .categoryContainer {
        width: auto;
        margin: 0 0 30px 0;
    }
}