/*STYLING START*/



.blogDetailImageHeader{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    overflow: hidden;
}




.blogDetailImage {
    border-radius: 4px;
    width: auto;
    height: auto;
    object-fit: cover;
}


.ShareIcon{
    box-shadow: none;
    margin: 5px 0 0 5px;
}

.shareIconsBox{
    margin: 30px 0 0 0;
}



/*STYLING END*/



/*LAYOUT START*/




/*LAYOUT END*/