
/* STYLING START */

/* STYLING END */

/* LAYOUT START */




/* LAYOUT END */



.excursionBannerBg{
position: relative;
background-image: url(./../../assets/websiteImages/excursionBanner1.jpg);
display: flex;
flex-direction: row;
    height: 200px;
    width: 100%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}





/*Start media query telephone*/
@media only screen and (max-width: 1200px) {



    .excursionBannerBg{
        position: relative;
        background-image: url(./../../assets/websiteImages/excursionBanner1.jpg);
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }



}
/*end media query telephone*/