
/* STYLING START */

/* STYLING END */

/* LAYOUT START */
.excursionBannerBg{
    position: relative;
    background-image: url(./../../../public/assets/websiteImages/excursionBanner1.jpg);
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* LAYOUT END */







/*Start media query telephone*/
@media only screen and (max-width: 1200px) {
    /*STYLING START*/

    /*STYLING END*/


    /*LAYOUT START*/
    .excursionBannerBg{
        position: relative;
        background-image: url(./../../../public/assets/websiteImages/excursionBanner1.jpg);
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100vw;
        min-width: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    /*LAYOUT END*/















}
/*end media query telephone*/