/*STYLING START*/

.ProfileEditBox3 > i{
    color: lightGrey;
}
/*STYLING END*/



/*LAYOUT START*/

/*------Icon overlay tekst------*/
.iconContainer {
    position: relative;
    display: inline-block;
}

.iconOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    background-color: white; /* Doorzichtige achtergrondkleur */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Verberg het tekstvlak standaard */
    transition: opacity 0.3s ease; /* Voeg een vloeiende overgang toe */
    margin: 15px 0 0 5px;
    border: 1px solid var(--darkerGrey);
    border-radius: 10px;
    padding: 5px;
    pointer-events: none; /* Voorkom dat het tekstvlak interactie ontvangt */
}

.iconContainer:hover .iconOverlay {
    opacity: 1; /* Laat het tekstvlak zien wanneer erover wordt gehoverd */
    z-index: 2;
}
/*------Icon overlay tekst End------*/

.biografieTextField{
    width: 300px;
    height: 300px;
}

.profileFirstTextBox{
    margin-bottom: 50px;
    text-align: center;
}

.ProfileEditContentBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*border: 1px solid blue;*/
}

.ProfileEditBox1{
    width: 200px;
    min-height: 200px;
    /*border: 5px solid red;*/
}

.ProfileEditBox2{
    width: 400px;
    min-height: 200px;
    /*border: 5px solid greenyellow;*/
}

.ProfileEditBox3{
    width: 50px;
    min-height: 200px;
    padding: 10px;
    /*border: 5px solid grey;*/
}

.ProfilePictureUpload{
    width: 380px;
    z-index: 2;
}

.profileButtonCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*LAYOUT END*/
@media only screen and (max-width: 767px) {
    /*STYLING START*/



    /*STYLING END*/



    /*LAYOUT START*/

    .ProfileEditBox1{
        width: 90px;
        min-height: 200px;
        /*border: 5px solid red;*/
    }

    .ProfileEditBox2{
        width: 200px;
        min-height: 200px;
        /*border: 5px solid greenyellow;*/
    }

    .ProfileEditBox3{
        width: 50px;
        min-height: 200px;
        padding: 10px;
        /*border: 5px solid grey;*/
    }

    .profilePageProfileImageContainer{
        width: 80px;
        height: 80px;
    }

    /*------Icon overlay tekst------*/

    .iconContainer {
        position: relative;
        display: inline-block;
    }

    .iconOverlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        border: 1px solid var(--darkerGrey);
        border-radius: 10px;
        padding: 15px;
        pointer-events: none;
    }

    .closeButton {
        cursor: pointer;
        align-self: flex-end;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .iconContainer:hover .iconOverlay {
        opacity: 1;
        z-index: 2;
    }

    .ProfilePictureUpload {
        max-width: 200px;
        width: 100%;
    }
    /*------Icon overlay tekst End------*/

    /*LAYOUT END*/



}