.excursionsActivityDetailText{
    list-style-type: disc;
}

#topMarginDeelnemen{
    margin-top: 20px;
    margin-bottom: 10px;
}

/*----------Image part-----------*/
.excursionDetailImageContainer{
    width: 500px;
    object-fit: cover;
}
.excursionDetailImageContainer img{
    object-fit: cover;
    border-radius: 4px;
}
/*---------------------*/

.excursionDetailInnerContainer{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.excursionDetailInnerContainer hr{
    width: 100%;
}








@media only screen and (max-width: 767px) {

    .excursionDetailImageContainer{
        width: 300px;
    }

    .excursionDetailInnerContainer{
        max-width: 300px;
    }


}