/*STYLING START*/
a {
    font-family: var(--mainFont);
}

.default-link {
    font-size: var(--navLinkSize);
}

.active-link {
    font-size: var(--navLinkSize);
}

nav ul a,
nav ul a:visited {
    color: black;
    text-decoration: none;
}


.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid black;
}

/*Search bar*/
input {
    color: var(--black);
    font-family: var(--mainFont);
    z-index: 5;
}

/*--STYLING END--*/



/*LAYOUT START*/
.navContainerStickyTop {
    background-color: var(--white);
    position: sticky;
    /* Set top to 0 to stick to the top of the viewport */
    top: 0;
    z-index: 10;
    flex-basis: 100vw;
    display: flex;
    justify-content: space-between;
    transition: .3s ease-in-out;
    height: 65px;
    Border: 2px solid var(--darkerGrey);
    /*removes border on both sides*/
    border-left: none;
    border-right: none;
}

.mainNav{
    width: 100%;
    max-width: 1600px;
    background-color: var(--white);
    font-family: var(--titleFont);
    display: flex;
    justify-content: center;
    /*border: 4px dashed saddlebrown;*/
}



ul {
    list-style-type: none;
    flex-basis: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stripeMenu {
    color: black;
    font-size: 35px;
    line-height: 1.6;
}

.phoneSearchBar{
    display: none;
}

.hamburger-menu, .hamburger-menu input, .sidebar{
    display: none;
}
/*LAYOUT END*/



@media only screen and (max-width: 767px) {
    /*Styling phone query start*/

    .default-link {
        font-size: calc(var(--navLinkSize) - 30%);
        /*font-size: var(--navLinkSize);*/
    }

    .active-link {
        font-size: calc(var(--navLinkSize) - 30%);
        /*font-size: var(--navLinkSize);*/
    }

    ul, li {
        list-style: none;
    }


    .sidebar > nav > li {
        padding: 10px;
    }

    .sidebar > nav {
        margin-bottom: 80vh;
    }



    /*Styling end*/
    /*Layout start*/




    /*Original nav disable*/
    .mainNav{
        display: none;
    }

    /*Telephone nav visible*/
    .hamburger-menu, .hamburger-menu input, .sidebar{
        display: block;
    }

    /*Phone search bar visible and styling*/
    .phoneSearchBar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }


    /*Layout end*/












    /*Hamburger menu start*/

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }



    :root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: var(--darkerGrey);
        --background: white;
        --sideBarBackground: hsla(0, 0%, 20%, 0.8);;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        /*width: max-content;*/
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
        padding: 4px 0 0 8px;
    }



    /*Stripes & cross*/
    .hamburger-menu:has(input:checked) {
        --foreground: #333;
        --background: #333;
        padding: 4px 0 0 8px;
        z-index: 5
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    /*stripes to cross transition*/
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    /*stripes to cross transition*/
    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1.5rem) 1rem 0.5rem 1rem;

        /*Sideback background*/
        background-color: var(--sideBarBackground);
        color: var(--background);
        width: 12rem;
        min-height: 100vh;
        border: 2px solid black;
        border-left: none;
        border-top: none;
        border-bottom-right-radius: 10px;
        margin-top: 62px;
        z-index: 0;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .sidebar li {
        padding: 4px 0;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
    }

    .default-link {
        border-bottom: 1px solid transparent;
    }

    .active-link {
        border-bottom: 1px solid white;
    }


    /*Hamburger menu end*/




    /*Styling phone query end*/
}














