.nav-container {
    flex-basis: 1000px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 100%;
    background-color: var(--white);
    font-family: var(--TitleFont);
    display: flex;
    justify-content: center;
    height: 60px;
}

ul {
    list-style-type: none;
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.default-link {
    font-size: 25px;
}

.active-link {
    font-size: 25px;
}




nav ul a,
nav ul a:visited {
    color: black;
    text-decoration: none;
}




.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid black;
}

nav a:hover {
    color: white;
}


