/*STYLING START*/
a {
    font-family: var(--mainFont);
}

.default-link {
    font-size: var(--navLinkSize);
}

.active-link {
    font-size: var(--navLinkSize);
}

nav ul a,
nav ul a:visited {
    color: black;
    text-decoration: none;
}


.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid black;
}

/*Search bar*/
input {
    color: var(--black);
    font-family: var(--mainFont);
    z-index: 5;
}

/*--STYLING END--*/

/*LAYOUT START, (mag niet op center worden gezet!!!!) */
.navContainerStickyTop {
    background-color: var(--white);
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 10;
    flex-basis: 100vw;
    display: flex;
    flex-direction: row;
    transition: .3s ease-in-out;
    height: 65px;
    Border: 2px solid var(--darkerGrey);
    border-left: none;
    border-right: none;
}

.mainNav{
    min-width: 100%;
    background-color: var(--white);
    font-family: var(--titleFont);
    display: flex;
    justify-content: center;
    padding: 0 20px;
    /*border: 4px dashed saddlebrown;*/
}

ul {
    list-style-type: none;
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phoneSearchBar{
    display: none;
}

.hamburger-menu, .hamburger-menu input, .sidebar{
    display: none;
}




/*------Drop down menu start------*/

/* Dropdown Button */
.dropbtn {
    background-color: var(--lightGrey);
    color: var(--black);
    padding: 14px;
    border: none;
    font-size: var(--navLinkSize);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: calc(var(--navLinkSize) - 20%);
}

.dropdown-content{
    border: 2px solid black;
    border-top: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*------Drop down menu end------*/



/*LAYOUT END*/


















@media only screen and (max-width: 1200px) {
    /*Styling phone query start*/
    .default-link {
        font-size: calc(var(--navLinkSize) - 30%);
        /*font-size: var(--navLinkSize);*/
    }

    .active-link {
        font-size: calc(var(--navLinkSize) - 30%);
        /*font-size: var(--navLinkSize);*/
    }

    ul, li {
        list-style: none;
    }


    .sidebar > nav > li {
        padding: 10px;
    }

    .sidebar > nav {
        margin-bottom: 80vh;
    }



    /*Styling end*/
    /*Layout start*/
    /*Original nav disable*/
    .mainNav{
        display: none;
    }

    /*Telephone nav visible*/
    .hamburger-menu, .hamburger-menu input, .sidebar{
        display: block;
    }

    /*Phone search bar visible and styling*/
    .phoneSearchBar{
        display: flex;
        align-self: center;
        margin-left: auto;
        margin-right: 10px;
        /*border: 3px solid red;*/
    }







    /*Layout end*/





    /*Hamburger menu start*/
    .hamburgerEffect::after,
    .hamburgerEffect::before {
        box-sizing: border-box;
    }



    :root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
        padding: 4px 0 0 8px;
        /*border: 2px solid orangered;*/
    }


    /*Stripes & cross*/
    .hamburger-menu:has(input:checked) {
        padding: 4px 0 0 8px;
        z-index: 5
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--darkerGrey);
        box-shadow: 0 0 0 1px var(--darkerGrey);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--darkerGrey);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    /*stripes to cross transition*/
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    /*stripes to cross transition*/
    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1.5rem) 1rem 0.5rem 1rem;

        /*Side bar background*/
        background-color: var(--menuBarBackground);
        color: var(--white);
        width: 12rem;
        min-height: 100vh;
        border: 2px solid black;
        border-left: none;
        border-top: none;
        margin-top: 62px;
        z-index: 0;
        position: absolute;
    }


    .sidebar li {
        padding: 4px 0;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
    }

    .default-link {
        border-bottom: 1px solid transparent;
    }

    .active-link {
        border-bottom: 1px solid white;
    }


    /*Hamburger menu end*/




    /*Styling phone query end*/
}














