.myPostList {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 16px;
}

.myBlogPostItem {
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: var(--mainBackgroundColor);

    flex-basis: 50px;
    width: 80vw;
    flex-grow: 1;
    flex-shrink: 1;
    Border: 1px solid hsla(0, 0%, 50%, 0.01);
    list-style: none;
}

.myPostButtons {
width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myBlogButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.myBlogsOnTopButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.innerMyBlogContainer {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WriteBlogButton:hover {
    border: 4px solid goldenrod;
    color: goldenrod;
    transition: all 0.3s ease 0s;
    border-radius: 22px 6px;
    cursor: pointer;
}

#WriteBlogButton {
    font-family: var(--mainFont);
    color:  var(--mainFontColor);
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 25px;
    height: 55px;
    margin: 0 0 40px 0;
    padding: 10px 10px 10px 10px;
    border: 4px solid  goldenrod;
    border-radius: 6px 22px;

    box-sizing: border-box;
    text-align: center;
}

.myBlogButton{
    background-color: hsla(0, 0%, 100%, 0.4);
}

.simpleButtonsRemove{
    background-color: hsla(0, 0%, 100%, 0.4);
}

.simpleButtonsEdit{
    background-color: hsla(0, 0%, 100%, 0.4);
}

#myBlogsTitleStyling{
    margin: 20px 0 0 0;
}




@media only screen and (max-width: 767px) {


}