/*STYLING START*/

/*STYLING END*/



/*LAYOUT START*/

/*----------Image part-----------*/

.excursionDetailImageContainer{
    width: 500px;
    object-fit: cover;
}
.excursionDetailImageContainer img{
    width: 500px;
    object-fit: cover;
    border-radius: 4px;
}
/*---------------------*/



/*LAYOUT END*/