/*STYLING START*/
#WriteBlogButton{
    font-size: 25px;
    height: 80px;
    width: 200px;
    border: 5px solid goldenrod;
    transition: height 0.3s ease, width 0.3s ease, border 0.3s ease;
}

#WriteBlogButton:hover{
    height: 80px;
    width: 250px;
}




/*STYLING END*/



/*LAYOUT START*/




/*LAYOUT END*/