
#searchbarBlogOverview input{
    border: 4px solid var(--mainFontColor);
    height: 55px;
    border-radius: 6px 22px;
}

#searchbarBlogOverview input:hover {
    color: var(--onHoverColor);
    border-color: var(--onHoverColor);
    transition: all 0.3s ease 0s;
    border-radius: 22px 6px;
    cursor: pointer;
}

.searchBar{
    width: 300px;
    margin: 0 auto;
    border: 2px solid;
    border-color: var(--mainFontColor);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;
}

.searchBar:focus {
    outline: none;
    transition: all 0.3s ease 0s;
}

#searchbarBlogOverview {
    margin-top: 30px;
}











/*LAYOUT END*/