/*Styling start*/



/*Styling end*/



/*Layout start*/
/*Natuurverhaal.nl Main Title*/
.homeTitle, .homeTitle:hover, .homeTitle:visited {
    font-size: var(--mainTitleFontSize);
    font-family: var(--titleFont);
    color: var(--black);
    text-decoration: none;
    position: absolute;
    z-index: 2;
    margin-left: 0.5em;
    align-self: end;
    letter-spacing: 0.2rem;
}



.headerBg {
    position: relative; /* Voeg position: relative toe aan het achtergrondelement */
    background-image: url(./../../../public/assets/websiteImages/moosePhoto.jpg);
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*Layout end*/


@media only screen and (max-width: 1200px) {
    /*STYLING START*/
    /*Natuurverhaal.nl Main Title*/
    .homeTitle, .homeTitle:hover, .homeTitle:visited {
        font-size: calc(var(--mainTitleFontSize) - 200%);
        font-family: var(--titleFont);
        color: var(--black);
        text-decoration: none;
        position: absolute;
        z-index: 2;
        letter-spacing: 0.05rem;
    }
    /*STYLING END*/

    /*LAYOUT START*/
    /*LAYOUT END*/
}


@media only screen and (max-width: 767px) {
    /*STYLING START*/
    /*STYLING END*/


    /*LAYOUT START*/
    /*Natuurverhaal.nl Main Title*/
    .homeTitle, .homeTitle:hover, .homeTitle:visited {
        font-size: calc(var(--mainTitleFontSize) - 410%);
        font-family: var(--titleFont);
        color: var(--black);
        text-decoration: none;
        position: absolute;
        z-index: 2;
        letter-spacing: 0.05rem;
    }

    .headerBg {
        height: 250px;
        width: 100%;

    }
    /*LAYOUT END*/
}


