/*Styling start*/



/*Styling end*/



/*Layout start*/
/*Natuurverhaal.nl Main Title*/
.homeTitle, .homeTitle:hover, .homeTitle:visited {
    font-size: var(--mainTitleFontSize);
    font-family: var(--titleFont);
    color: var(--black);
    text-decoration: none;
    position: absolute;
    z-index: 2;
    margin: 15rem 0 4rem 5rem;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.headerBg {
    position: relative; /* Voeg position: relative toe aan het achtergrondelement */
    background-image: url(../../assets/headerimage.jpg);
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*Layout end*/





