/*The flexbox with all the content of the page*/
.excursionContentBox1{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    /*border: 2px dotted red;*/
    gap: 40px;
}

.excursionIntroduction1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:30px 0 0 0;
    height: fit-content;
    width: 500px;
}

/*first image on the page*/
.excursionIntroduction2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    height: fit-content;
}

.excursionIntroduction2 img {
    border-radius: 4px;
}

/*Box with side image*/
.excursionFirstBlockImageMain {
    width: 400px;
    height: auto;
    overflow: hidden;
    margin:30px 0 0 0;
}

/*Excursion components inside (Row)*/
.excursionComponentBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:40px 0 0 0;
    height: fit-content;
    width: 1000px;
}

.excursionAdminButton{
    border-radius: 10px;
    padding: 5px 10px;
    width: 320px;
    margin: 0 0 30px 0;
}





@media only screen and (max-width: 1200px) {


    /*The flexbox with all the content of the page*/
    .excursionContentBox1{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: fit-content;
        align-items: center;
        gap: 0;
    }


    /*First text field on the page EXCURSIES*/
    .excursionIntroduction1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
        width: 300px;
        order: 2;
        padding: 10px;
    }

    /*box first image on the page*/
    .excursionIntroduction2{
        display: flex;
        flex-direction: column;
        align-content: center;
        max-width: 300px;
        height: fit-content;
        order: 1;
    }

    /*Excursion component inside (Row)*/
    .excursionComponentBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        max-width: 300px;
    }

}
