
.footerOuterBox {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackgroundColor);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footerBoxTop {
    flex-direction: column;
    width: 0;
    align-items: center;
    text-align: center;
    visibility: hidden;
    transition: width 0.7s ease, visibility 0.8s ease 0.2s;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

/*---Footer Effect Start---*/
.footerOuterBox:hover .footerBoxTop {
    width: 100%;
    visibility: visible;
    transition: width 0.7s ease;
}

.footerOuterBox:hover .footerBox1,
.footerOuterBox:hover .footerBox2,
.footerOuterBox:hover .footerBox3 {
    filter: none;
}

.footerOuterBox .footerBox2 h5 {
    color: #484848;
    transition: color 2s ease 0.7s;
}

.footerOuterBox:hover .footerBox2 h5 {
    color: var(--mainFontColor);
}

.footerInnerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    padding: 5px;
}

.footerBox1 {
    filter: grayscale(100%) opacity(0.5);
    transition: filter 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
}

.footerBox2 {
    filter: grayscale(100%) opacity(0.5);
    transition: filter 0.3s ease, opacity 0.3s ease;
    opacity: 0.6;
}

.footerBox3 {
    filter: grayscale(100%) opacity(0.5);
    transition: filter 0.3s ease, opacity 0.3s ease;
    opacity: 0.4;
}

/*---Footer Effect End---*/


@media only screen and (max-width: 767px) {
    .footerInnerBox {
        width: 90%;
        max-width: 500px;

    }

    .footerBox1 {
        filter: none;

    }

    .footerBox2 h5 {
        color: grey;
    }

    .footerBox3 {
        filter: none;
    }

    .footerBoxTop {
        width: 100%;
        visibility: visible;
        transition: width 0.7s ease;
    }

    .footerBoxTop hr {
        width: 100%;
        visibility: visible;
    }

    .footerOuterBox:hover .footerBoxTop {
        width: 100%;
        visibility: visible;
    }

    .footerOuterBox:hover .footerBox1,
    .footerOuterBox:hover .footerBox3 {
        filter: none;


    }
}