/*STYLING START*/

.bulletinBoardButtons > button{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
}

#bulletinBoardButton1{
    margin-top: 40px;
}


/*STYLING END/



/*LAYOUT START*/




/*LAYOUT END*/