/*STYLING START*/




/*STYLING END*/



/*LAYOUT START*/
.totalBlogsCounter {
    padding: 10px 0 ;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); /* 50% transparant white */
    /*color: var(--white);*/
    font-family: var(--mainFont);
    background-color: var(--secondBackgroundColor)
}




/*LAYOUT END*/