@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Young+Serif&display=swap');




/*----------Basic information start----------*/
* {padding: 0; margin: 0; box-sizing: border-box}


:root {
  /*colors start*/
  --brown: #8b4208;
  --lightBrown: #a68d7a;
  --black: #000000;
  --darkerGrey: #242424;
  --grey: #9B9A9C;
  --lightGrey: #f2f2f2;
  --white: #FFFFFF;
  /*colors end*/

  /*font-family`s start*/
  --titleFont: "Young Serif";
  --mainFont: "Roboto";
  /*font-family`s end*/

  /*font-sizes start*/
  --mainTitleFontSize: 5rem;
  /*--h2FontSize: 1.8rem;*/
  /*--pFontSize: 1.4rem;*/
  /*--aTitleFontSize: 2rem;*/
  /*--aHoverEaseOutFontSize: 2.5rem;*/
  /*--postDateFontSize: 1.2rem;*/
  /*font-sizes end*/

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--darkerGrey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width:100%
}
/*remove all styling from links*/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*gives all links the title font*/
a {
  font-family: var(--titleFont);
}

button:hover {
  cursor: pointer;
}

/*inherit font family from parent*/
button, input, select, textarea {
  font-family: inherit;
}





/*basic information end*/



/*Title colors en fonts*/
h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  font-family: var(--titleFont);
}


p {
  color: var(--black);
  font-family: var(--mainFont);
}




/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*!* Brede inner container*!*/
/*.inner-content-container {*/
/*  flex-basis: 1400px;*/
/*  flex-shrink: 1;*/
/*  flex-grow: 0;*/
/*  align-items: center;*/
/*}*/

/*!* Smalle inner container voor tekst etc. *!*/
/*.inner-content-container__text-restriction {*/
/*  flex-basis: 1000px;*/
/*  flex-shrink: 1;*/
/*  flex-grow: 0;*/
/*  align-items: flex-start;*/
/*}*/

.inner-content-container,
.inner-content-container__text-restriction {
  margin: 0 20px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}




















