@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Young+Serif&display=swap');




/*----------Basic information start----------*/
* {padding: 0; margin: 0; }



:root {
  /*colors start*/
  --black: hsl(0, 0%, 0%);
  --black50Transparant: hsl(0, 0%, 0%, 0.5);
  --darkerGrey: hsl(0, 0%, 20%);
  --lightGrey: hsl(0, 0%, 95%);
  --lighGreyTransparant: hsl(0, 0%, 83%, 0.2);
  --white: hsl(0, 0%, 100%);
  --menuBarBackground: hsla(0, 0%, 20%, 0.8);
  /*colors end*/

  --mainBackgroundColor: hsl(0, 0%, 100%);
  --secondBackgroundColor: hsl(0, 0%, 14%);

  /*font-family`s start*/
  --titleFont: "Young Serif";
  --mainFont: "Roboto";
  /*font-family`s end*/


  /*font-sizes start*/
  --mainTitleFontSize: 5rem;
  --h1FontSize: 2.2rem;
  --h2FontSize: 1.8rem;
  --h3FontSize: 1.6rem;
  --h4FontSize: 1.5rem;
  --h5FontSize: 1.2rem;
  --h6FontSize: 1rem;
  --pFontSize: 1rem;
  --navLinkSize: 1.5rem;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--mainBackgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Edit texts*/
p {
  font-size: var(--pFontSize);
}

h1 {
  font-size: var(--h1FontSize);
}

h2 {
  font-size: var(--h2FontSize);
}

h3 {
  font-size: var(--h3FontSize);
}

h4 {
  font-size: var(--h4FontSize);
}

h5 {
  font-size: var(--h5FontSize);
}

h6 {
  font-size: var(--h6FontSize);
}


h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  font-family: var(--titleFont);
}

p {
  color: var(--black);
  font-family: var(--mainFont);
}

i {
  color: var(--black);
  font-family: var(--mainFont);
}

.iGrey{
  color: grey;
  font-size: 0.8em;
}

label {
  color: var(--black);
  font-family: var(--mainFont);
}

/*Background colors*/
.mainBackground {
  background-color: var(--mainBackgroundColor);
  height: 100vh;
}

.secondBackground {
  background-color: var(--secondBackgroundColor);
  height: 100vh;
}

/*Link styling*/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: var(--titleFont);
}

/*Button styling*/
button:hover {
  cursor: pointer;
}

button{
  background-color: var(--white);
  color: var(--black);
font-family: var(--mainFont);
  font-size: var(--pFontSize);
}


/*imput field layout*/
input {
  background-color: var(--white);
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 9px;
  font-size: var(--pFontSize);
}

/*Other stylings*/
img {
  max-width:100%
}

button, select, textarea {
  font-family: inherit;
}

/*basic information end*/

.SimpleButtons{
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
}

.SimpleButtons{
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
  font-family: var(--mainFont);
}

/*----------- STANDARD INNER- EN OUTER CONTAINERS ------------------- */

/*Outer content container (Row)*/
.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border: 2px dashed blue;*/
}

.outer-content-container-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border: 2px dashed purple;*/
}

/*Inner content container (Row)*/
.inner-content-container {
  /*margin: 0 20px;*/
  margin: 40px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border: 2px dashed red;*/
}

/*Inner content container (column)*/
.inner-content-container-column {
  margin: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 5px dashed green;*/
}
/*Inner content container voor text editor Quill*/
.inner-content-container-quill{
 display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 2px dashed blue;*/
}

/*Extra Inner content container (column)*/
.Extra-inner-content-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  /*border: 2px dashed turquoise;*/
}

/*Smalle inner container for text etc.*/
.textStart {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: flex-start;
  /*border: 1px dashed lightgreen;*/
}

/*Smalle inner container for text etc.*/
.textCenter {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  flex-shrink: 1;
  flex-grow: 0;
  text-align: center;
  /*border: 3px dashed green;*/
}

/*Container for header background images*/
.headerContainer {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*border: 2px dashed turquoise;*/
}

.post-item {
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: var(--mainBackgroundColor);
  padding: 8px;
  flex-basis: 50px;
  width: 80vw;
  flex-grow: 1;
  flex-shrink: 1;
  /*Border: 2px solid orangered;*/
}

.iconSmall{
  width: 15px;
  height: 15px;
  /*border: 2px solid pink;*/
}
/*----------- STANDARD INNER- EN OUTER CONTAINERS ------------------- */






/*Begin media query telefoon*/
@media only screen and (max-width: 767px) {

  /*font-sizes start*/
  /*Edit texts*/
  .homeTitle, .homeTitle:hover, .homeTitle:visited {
    font-size: calc(var(--mainTitleFontSize) - 290%);
    /*font-size: var(--mainTitleFontSize);*/
  }

    /*p {*/
    /*  font-size: calc(var(--pFontSize) - 10%);*/
    /*  !*font-size: var(--pFontSize);*!*/
    /*}*/

    h1 {
      font-size: calc(var(--h1FontSize) - 20%);
      /*font-size: var(--h1FontSize);*/
    }

    h2 {
      font-size: calc(var(--h2FontSize) - 20%);
      /*font-size: var(--h2FontSize);*/
    }

    h3 {
      font-size: calc(var(--h3FontSize) - 20%);
      /*font-size: var(--h3FontSize);*/
    }

    h4 {
      font-size: calc(var(--h4FontSize) - 20%);
      /*font-size: var(--h4FontSize);*/
    }

  h5 {
    font-size: calc(var(--h5FontSize) - 20%);
    /*font-size: var(--h3FontSize);*/
  }

  h6 {
    font-size: calc(var(--h6FontSize) - 20%);
    /*font-size: var(--h4FontSize);*/
  }

  /*Aanpassen van de main title*/
  .homeTitle, .homeTitle:hover, .homeTitle:visited {
    margin: 20rem 0 2rem 3rem;
  }

  /*imput field layout*/
  input {
    padding: 1px;
    font-size: calc(var(--pFontSize) - 10%);
  }



  /*----------- STANDARD INNER- EN OUTER CONTAINERS ------------------- */




  /*----------- STANDARD INNER- EN OUTER CONTAINERS ------------------- */



  }
/*Einde media query telefoon*/




















