@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Young+Serif&display=swap');




/*----------Basic information start----------*/
* {padding: 0; margin: 0; box-sizing: border-box}


:root {
  /*colors start*/
  --brown: #8b4208;
  --lightBrown: #a68d7a;
  --black: #000000;
  --darkerGrey: #4B4A4C;
  --grey: #9B9A9C;
  --lightGrey: #f2f2f2;
  --white: #FFFFFF;
  /*colors end*/

  /*font-family`s start*/
  --titleFont: "Young Serif";
  --mainFont: "Roboto";
  /*font-family`s end*/

  /*font-sizes start*/
  --mainTitleFontSize: 5rem;
  --h2FontSize: 1.8rem;
  --pFontSize: 1.4rem;
  --aTitleFontSize: 2rem;
  --aHoverEaseOutFontSize: 2.5rem;
  --postDateFontSize: 1.2rem;
  /*font-sizes end*/

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width:100%
}
/*Verwijderd alle opmaak van links*/

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a {
  font-family: var(--titleFont);
}

button:hover {
  cursor: pointer;
}





/*basic information end*/



/*Title colors en fonts*/
h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  font-family: var(--titleFont);
}


p {
  color: var(--black);
  font-family: var(--mainFont);
}






















